* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    background-color: white;
    max-width: 800px;
    box-sizing: border-box;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.data-user {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.sub-user {
    margin-bottom: 10px;
}

.sub-user h3 {
    font-size: 16px;
    color: rgb(44, 44, 44)
}

.tombol {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.form-logout {  
    margin-bottom: 25px;
}

.postingan {
    margin-bottom: 25px;
}

#post li { margin-bottom: 50px }

/* popup detail */
.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-hilang {
    display: none;
}

.detail {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    overflow: scroll;
}

.detail * {margin-bottom: 10px;}

.gambar {
    width: 170px;
}